/* General settings */
body {
    background-color: white;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 20px;
}
.cleaner {
    clear: both;
}
p {
    color: #545454;
}
ul li {
    display: inline;
}
/* Styling of selected result type */
ul li a[class="active"] {
    color: blue;
    font-weight: 600;
    border-bottom: 3px solid blue;
}
ul li a[class="active"]:hover {
    color: blue;
}
ul li a {
    display: inline-block;
    color: #5f6368;
    text-decoration: none;
}
ul li a:hover {
    color: black;
}
/* Logo and its positioning */
#Logo {
    float: left;
    width: auto;
    padding: 10px 35px 0 35px;
}
#Logo img {
    width: 100px;
    height: 35px;
}
/* Search bar */
#SrBar { 
    float: left;
    width: 700px;
}
#SrBar input{
    display: block;
    width: 700px;
    padding: 15px 0 15px 30px;
    font-size: 15px;
    border: 1px solid rgba(220,220,220, 0.9);
    border-radius: 30px;
    background-color: white;
}
input:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
}
/* Icons inside the search bar */
#Keyboard, #Loupe {
    width: 25px;
    height: 25px;
    position: absolute;
}
#Keyboard {
    top: 35px;
    left: 780px;
}
#Loupe {
    top: 35px;
    left: 820px;
}
/* Google apps tab and Profile avatar */
#GApps {
    position: absolute;
    right: 100px;
    top: 35px;
    height: 20px;
    width: 20px;
}
#ProfAvatar {
    background-color: rgb(153, 153, 255);
    border-radius: 50%;
    padding: 14px;
    margin-right: 35px;
    font-size: 1.2em;
    color: white;
    font-weight: 550;
}
/* Result types */
#LowerNav  {
    height: auto;
    border-bottom: 1px solid #e0e0e0;
}
#Links {
    margin-left: 170px;
    width: 700px;
}
nav ul {
    float: right;
}
#First a, #Second a {
    padding: 25px 15px 10px 15px;
    cursor: pointer;
}
ul[id="First"] {
    float: left;
}
ul[id="Second"] {
    float: right;
}
/* Main section that includes search results and page orientation */
main {
    width: 700px;
    margin-left: 170px;
}
#ResultStats {
    line-height: 45px;
    margin-bottom: 15px;
    font-size: 14px;
    letter-spacing: 0;
    word-spacing: 2px;
}
.result {
    margin-bottom: 35px;
    letter-spacing: 0;
}
/* Websites keywords */
.result a {
    font-size: 20px;
    text-decoration: none;
    color: #1a0dab;
}
.result a:hover {
    text-decoration: underline;
}
/* Sites name */
.result .site {
    color: green;
    margin: 6px 0;
}
/* Additional information on the website */
.result p {
    line-height: 1.2;    
}
.date {
    color: #777;
}
/* Date of writing additional information on the website */
#SearchPages {
    margin-bottom: 35px;
}
/* Orientation to other result pages */
#Pages {
    margin-bottom: 5px;
    margin-left: 25%;
    width: 315px;
}
#SearchPages ul {
    margin-left: 30.3%;
}
/* Page nubmer */
#SearchPages ul li a{
    padding-right: 6.5px;
    color: #4285f4;
}
#SearchPages li a:hover {
    text-decoration: underline;
}
/* Orientation to the next page based on the current one */
.Next {
    margin-left: 50px;
    font-size: 1.1em;
}
/* Footer */
footer {
    background-color: #efefef;
    font-size: 15px;
}
#LocationLinks, #InfoLinks {
    padding-left: 170px;
    border-top: 1px solid #e0e0e0;
    word-spacing: 1px;
}
footer li, footer li a {
    line-height: 40px;
    letter-spacing: 0;
    color: #5f6368;
}
/* Info that presents users current country */
#Country {
    border-right: 1px solid #e0e0e0;
    padding-right: 15px;
    margin-right: 15px;
    font-size: 1.2em;
}
/* Info that presents users current city */
#LocationLinks i {
    font-size: 10px;
    position: relative;
    bottom: 2px;
}
#City {
    color: black;
    font-size: 1.1em;
    font-weight: 500;
}
#InfoLinks li {
    margin-right: 20px;    
}